.counts {
	background: #4db367;
	color: #fff;
	border-radius: 5px;
	width: 225px;
}

.counts div {
	padding: 8px;
}

.counts span {
	float: right;
}

.counts div:nth-child(odd) {
	background: black;
}