body {
	background: #2C3531;
}

.sortable {
	cursor: pointer;
	color: #D79922;
}

.warning {
	background-color: #F13C20;
}

table {
 color: #111;
 border-radius: 5px;
 overflow: hidden;
 margin: 12px 0;
 min-width: 300px;
 background: #C5CBE3;
}

.header-row {
	background: #4056A1;
	color: #fff
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}

tr:nth-child(even) {
	background: #EFE2BA;
}